<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boyvi.wastbank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">

        </activity>
        <activity
            android:name=".User_Main"
            android:label="@string/title_activity_main1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_reduce"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_Statistics"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_Main"
            android:label="@string/title_activity_main_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_StatisticsAll"
            android:label="@string/title_activity_main_admin1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_Search"
            android:label="@string/title_activity_main_admin2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Adnin_Reduce"
            android:label="@string/title_activity_main_admin3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_StatisticsYou"
            android:label="@string/title_activity_main_admin4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>